src/
docs/
licenses/
node_modules/
test/
dist/**/
dist-client/
karma.unit.js
webpack.config.js
tsconfig.json
npm-debug.log
.vscode/
.babelrc
.editorconfig
.gitignore
.git
.stylelintrc
.travis.yml
.yarnclean
.DS_Store
*.log
*.d.ts
